<!post list>
<html>
   <head>
 	  <title>My Mainpage</title>
   </head>
   <body>
   	<div>
   		<h1><a href="/">My blog page</a></h1>
   	</div>

   	<div>
   		<p>published: 08:05:2018, 6:47pm</p>
   		<h2><a href="">My first post</a></h2>
   		<p>First post is about how we need to be taught how to challenge our beliefs instead of looking to confirm them</p>
   	</div>
    <head>
   <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
   <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
   <script type='text/javascript' src='planetaryjs.min.js'></script>
   </head>
   <body>
   <canvas id='globe' width='500' height='500'></canvas>
   <script type='text/javascript' src='yourApp.js'></script>
   </body>
     <script>var planet = planetaryjs.planet();
// You can remove this statement if `world-110m.json`
// is in the same path as the HTML page:
planet.loadPlugin(planetaryjs.plugins.earth({
  topojson: { file: 'http/path/to/world-110m.json' }
}));
// Make the planet fit well in its canvas
planet.projection.scale(250).translate([250, 250]);
var canvas = document.getElementById('globe');
planet.draw(canvas);</script>



    <p>Hi there!</p>
    <p>It works!</p>
   </body>
</html>