<!post list>
<html>
   <head>
 	  <title>My Mainpage</title>
   </head>
   <body>
   	<div>
   		<h1><a href="/">My blog page</a></h1>
   	</div>

   	<div>
   		<p>published: 08:05:2018, 6:47pm</p>
   		<h2><a href="">My first post</a></h2>
   		<p>First post is about how we need to be taught how to challenge our beliefs instead of looking to confirm them</p>

   		<p> This should be uploading to website</p>
   		
   	</div>
    <p>Hi there!</p>
    <p>It works!</p>
    <h3> <a href="">Click on a country to find out more!</a></h3>
    <p>Countries display general information and an options bar with scroll, this has more in depth statistics about a country</p>
    <p>Categories have two applications (general & detailed) General would have:<br/> 
      population <br/> 
      size, <br/> 
      economic capabilities? <br/> 
      education, <br/> 
      tax.<br/> 
    </p>

      <script type='text/javascript' src='http://d3js.org/d3.v3.js'></script>
      <script type='text/javascript' src='http://d3js.org/topojson.v1.js'></script>
      <script type='text/javascript' src='/mainpage/planetaryjs.js'></script>
      
    
       <canvas id='basicGlobe' width='400' height='400'
  style= "color:blue"></canvas>
       <body>
          <script>(function() {
          var canvas = document.getElementById('basicGlobe');
          var planet = planetaryjs.planet();
          // Loading this plugin technically happens automatically,
          // but we need to specify the path to the `world-110m.json` file.
          planet.loadPlugin(planetaryjs.plugins.earth({
            topojson: { file: 'mainpage/world-110m.json' }
          }));
          // Scale the planet's radius to half the canvas' size
          // and move it to the center of the canvas.
          planet.projection
            .scale(canvas.width / 2)
            .translate([canvas.width / 2, canvas.height / 2]);
          planet.draw(canvas);
             </script>
            <p>Detailed category:</p>  
   </body>
 </body>
</html>